@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome In Edit Profile Page</h1>
<h1>Calling using tag helpers</h1>


<partial name="_SignOut" />
